body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  color: rgb(255, 174, 0);
  font-size: 60px;
  border: 2px dashed rgb(255, 174, 0);
  border-radius: 20px;
}

.train {
  border: 1px solid black;
  margin-bottom: 10px;
}
